<div class="content">
    <app-navbar></app-navbar>
    <div class="container content-inside">
        <div class="row" style="margin: 20px auto;">
            <div class="col-8 offset-2">
                    <h3 class="text-center title">Libros a editar</h3>
            </div>
        </div>
        <app-books [books]="pendingBooks" [userType]="3" (emittedBook)="editBook($event)"></app-books>
        <div class="row" *ngIf="pendingBooks.length === 0" style="margin: 50px auto;">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No hay ningún libro pendiente por editar.
                </div> 
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>
<app-footer></app-footer>
