<div class="content">
    <app-navbar></app-navbar>
    <div class="container content-inside">
        <div class="row" style="margin: 20px auto;">
            <div class="col-8 offset-2">
                    <h3 class="text-center title">Libros por calificar</h3>
            </div>
        </div>
        <app-books [books]="booksToCheck" [userType]="2" (emittedBook)="rateBook($event)"></app-books>
        <div class="row" *ngIf="booksToCheck.length === 0" style="margin: 50px auto;">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    <strong>Oops!</strong> No tienes ningún libro asignado aún.
                </div> 
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>
<app-footer></app-footer>